@import 'bourbon';
@mixin headers($a: inherit,$b: normal, $c: inherit) {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $a;
	font-weight: $b;
	line-height: $c;
}
@keyframes move {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
	}
}
@keyframes slidefrombottom {
	0% {
		opacity: 0;
		transform: translate(0,100px);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}
@keyframes slidefromleft {
	0% {
		opacity: 0;
		transform: translate(-200px,0);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}
@keyframes slidefromright {
	0% {
		opacity: 0;
		transform: translate(200px,0);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}
@keyframes slidefromtop {
	0% {
		opacity: 0;
		transform: translate(0,-100px);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}
$dark-g: #333;
$regular-g: #999;
$light-g: #ccc;
$white: #f6f6f6;
$light-w: #eee;
$blue: #428bca;
$teal: #54A5BE;
/* -------------- loader -------------- */
.loader {
	position: fixed;
	width: 12px;
	height: 12px;
	top: 46%;
	top: -webkit-calc(50% - 6px);
	top: calc(50% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);
	border-radius: 12px;
	background-color: darken($blue, 20);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: loader 1s ease-in-out infinite;
	animation: loader 1s ease-in-out infinite;
}

.loader:before {
	content: "";
	position: absolute;
	background-color: $blue;
	top: 0;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.loader:after {
	content: "";
	position: absolute;
	background-color: $blue;
	top: 0;
	left: 25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}

	50% {
		-webkit-transform: rotate(180deg);
	}

	100% {
		-webkit-transform: rotate(180deg);
	}
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(180deg);
	}
}
// Hacks

.learnmore h4.h4-2 {
	display: none;
}
/* till we get content */
.carousel-control:focus {
	outline: 5px auto -webkit-focus-ring-color;
}

.prevnexttext {
	opacity: 0;
	float: left;
	width: 0;
	height: 0;
	overflow: hidden;
}
// Global

body {
	@include headers(16px,300);
	background: $white;
}

h1 {
	font-weight: 300;
}

h2 {
	@include headers(2em,200,1em);
}

h2 {
	font-size: 2.2em;
	font-weight: 200;
	line-height: 1em;
}

h3.mb35.mt5 {
	color: #666;
	font-weight: 200;
}

p {
	font-size: 1.2em;
	line-height: 1.4em;
}

a {
	transition: all 0.3s ease-in-out;
}

h4 {
	margin-top: -6px;
	font-size: 1.3em;
	font-weight: 300;
}

h4.h4-2 {
	color: $regular-g;
}

body {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 26px;
}

p.weight1 {
	font-family: "Roboto";
	font-weight: 100;
	font-style: italic;
	font-size: 36px;
	line-height: 30px;
}

p.weight2 {
	font-family: "Roboto";
	font-weight: 100;
	font-style: normal;
	font-size: 36px;
	line-height: 30px;
}

p.weight3 {
	font-family: "Roboto";
	font-weight: 300;
	font-style: italic;
	font-size: 36px;
	line-height: 30px;
}

p.weight4 {
	font-family: "Roboto";
	font-weight: 300;
	font-style: normal;
	font-size: 36px;
	line-height: 30px;
}

p.weight5 {
	font-family: "Roboto";
	font-weight: 400;
	font-style: italic;
	font-size: 36px;
	line-height: 30px;
}

p.weight6 {
	font-family: "Roboto";
	font-weight: 400;
	font-style: normal;
	font-size: 36px;
	line-height: 30px;
}

p.weight7 {
	font-family: "Roboto";
	font-weight: 500;
	font-style: italic;
	font-size: 36px;
	line-height: 30px;
}

p.weight8 {
	font-family: "Roboto";
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
	line-height: 30px;
}

p.weight9 {
	font-family: "Roboto";
	font-weight: 700;
	font-style: italic;
	font-size: 36px;
	line-height: 30px;
}

p.weight10 {
	font-family: "Roboto";
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	line-height: 30px;
}

p.weight11 {
	font-family: "Roboto";
	font-weight: 900;
	font-style: italic;
	font-size: 36px;
	line-height: 30px;
}

p.weight12 {
	font-family: "Roboto";
	font-weight: 900;
	font-style: normal;
	font-size: 36px;
	line-height: 30px;
}

div.wrapper {
	margin: 0 auto;
	display: block;
	white-space: nowrap;
	text-align: center;
	padding-bottom: 20px;
	min-height: 100%;
	width: auto;
	max-width: none;
}

h1 {
	font-size: 64px;
	line-height: 73px;
	margin-bottom: 25px;
	font-weight: bold;
}

p {
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 35px;
}

p.weights {
	letter-spacing: 2px;
	font-size: 13px;
	color: rgba(173,173,173,1);
	margin-bottom: 35px;
	border-width: 0 0 1px 0;
	border-style: dotted;
	margin-top: 45px;
}

p.pullquote {
	font-size: 17px;
	line-height: 26px;
	margin-bottom: 35px;
	padding-left: 15px;
	border-width: 0 0 0 3px;
	border-style: solid;
}

p.map {
	font-weight: 400;
	font-style: normal;
	margin-bottom: 0;
	text-align: justify;
	font-size: 27px;
	line-height: 54px;
	margin-top: 0;
}

p.heading {
	letter-spacing: 2px;
	font-size: 13px;
	margin-bottom: 35px;
	border-width: 0 0 1px 0;
	border-style: dotted;
	margin-top: 45px;
	color: rgba(0,0,0,1);
}

p.intro {
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 28px;
}

p.inverse-big {
	background-color: rgba(51,51,51,1);
	color: rgba(255,255,255,1);
	padding: 30px;
	margin-bottom: 0;
}

p.inverse-med {
	background-color: rgba(51,51,51,1);
	color: rgba(255,255,255,1);
	padding: 30px;
	margin-bottom: 0;
	padding-top: 0;
	font-size: 15px;
}

p.inverse-small {
	padding: 0 30px 30px;
	background-color: rgba(51,51,51,1);
	color: rgba(255,255,255,1);
	font-size: 13px;
}

p.inverse-heading {
	background-color: rgba(51,51,51,1);
	color: rgba(255,255,255,1);
	padding: 30px;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 15px;
	letter-spacing: 2px;
	margin-top: 50px;
}

.js-marquee-wrapper {
	margin-left: -100px !important;
}

.carousel {
	overflow: hidden;
}

.carousel-control {
	width: 10%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
	left: 50px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
	right: 50px;
}

.blue {
	color: $blue;
}

.page {
	opacity: 0;
}

.mb0 {
	margin-bottom: 0;
}

.mt5 {
	margin-top: 5px;
}

.mt0 {
	margin-top: 0;
}

.mt100 {
	margin-top: 100px;
}

.mt35 {
	margin-top: 35px;
}

.mb35 {
	margin-bottom: 35px;
}

.btn {
	background: #fff;
	color: $blue;
	text-shadow: none;
	border-radius: 5px;
	border-color: $light-g;
	font-weight: 300;
	padding: 12px 40px;

	&.btn-lg {
		font-size: 1.2em;
	}

	&:hover {
		background: $blue;
		color: $white;
	}

	&.white {
		background: transparent;
		border: 2px solid $dark-g;
		color: $dark-g;
		text-shadow: none;

		&:hover {
			background: $blue;
			border: 2px solid $blue;
			color: $white;
		}
	}
}

.btn-inverse {
	background: transparent;
	border: 1px solid $white;
	font-size: 1.1em;
	color: $white;
	text-shadow: 1px 1px 8px #1F1F1F;

	&:hover {
		background: rgba(255,255,255,0.2);
		color: $white;
		text-shadow: none;
	}

	&.white {
		background: transparent;
		border: 1px solid $dark-g;
		color: $dark-g;
		text-shadow: none;

		&:hover {
			background: $blue;
			border: 1px solid $blue;
			color: $white;
		}
	}
}

.bg-blue {
	background: $blue;
	color: $white;

	a {
		color: $white;
	}

	.nav-tabs {
		li {
			a {
				color: $white;
			}
		}
	}
}

.bg-pattern {
	background: #fff url('../img/hypnotize.png') repeat;
}

.page {
	overflow: hidden;
}

.bg-dark {
	background: $dark-g;
	color: $white;
}

.bg-img1 {
	color: $white;
	text-align: center;
	padding: 80px 0;
	background: url("../img/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg") no-repeat center center;
	text-shadow: 1px 1px 10px #1F1F1F;
}

.bg-white {
	background: #fff;
	color: $dark-g;
}

.bg-light {
	background: $white;
	color: $dark-g;
}

section {
	padding: 30px 0;
	position: relative;

	h2 {
		margin-bottom: 15px;
	}
}

section.padding {
	padding: 60px 0;
}
// Navtabs

.nav-tabs {
	border: none;
	text-align: center;
	margin-bottom: 40px;

	li {
		margin: 0;
		padding: 0;
		border-radius: 0;
		margin-left: -4px;
		display: inline-block;
		float: none;
		background-color: $white;

		a {
			margin: 0;
			border-radius: 0;
			border: 1px solid #ccc;
			padding: 14px 56px;

			&:hover {
				color: $white;
				background: $blue;
			}
		}

		&.active {
			a {
				background: $blue;
				color: $white;

				&:hover {
					background: darken($blue, 10);
					color: $white;
				}
			}
		}

		&:first-child {
			a {
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				border-right: 0;
			}
		}

		&:last-child {
			a {
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-left: 0;
			}
		}
	}

	&.nav-stacked {
		text-align: left;

		li {
			float: left;
			display: block;
			margin-bottom: 15px;
			margin-left: 0;
			width: 100%;
			background: transparent;

			a {
				background: #eee;
				border-radius: 0;
				border: none;
				padding: 10px;
				color: #333;

				&:hover {
					background: #ccc;
					border: none;
					border-radius: 0;
					color: #333;
				}
			}

			&.active {
				a {
					background: #ccc;
					border: none;
					color: #333;
					border-radius: 0;

					&:hover {
						background: #ccc;
						border: none;
						color: #333;
					}
				}
			}

			h3 {
				margin: 3px 0;
			}
		}
	}
}
// Pictures in columns

.pic {
	&.left {
		text-align: left;
		float: left;

		img {
			float: left;
			width: 100%;
			height: auto;
		}
	}

	&.right {
		text-align: right;
		float: right;

		img {
			float: right;
			width: 100%;
			height: auto;
		}
	}
}
// Inside pages {

.inside {
	header.navbar {
		background: rgba(0,0,0,0.9);
		position: relative;

		.logo {
			img {
				width: 150px;
			}
		}

		ul.navbar-nav {
			li {
				a {
					&:hover {
						background: $teal;
						color: $white;
					}

					&.current,
					&:focus {
						background: $blue;
						color: $white;
					}
				}
			}
		}
	}
}
// HEADER

header.navbar {
	background: transparent;
	transition: all 0.5s ease-in-out;
	margin-bottom: 0;
	border-radius: 0;
	color: $white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	.navbar-header {
		padding: 20px 0;

		img {
			width: 200px;
			height: 45px;
			transition: all 0.5s ease-in-out;
		}
	}

	nav {
		ul.navbar-nav {
			padding: 0;
			margin: 0;
			float: right;
			margin-top: 20px;

			li {
				margin-left: 2px;

				a {
					color: $white;
					padding: 14px 20px;
					border-radius: 3px;
					font-weight: 200;
					font-size: 16px;

					&:focus,
					&:hover {
						background: rgba(0,0,0,0.35);
						text-decoration: none;
					}
				}
			}
		}
	}

	&.bg {
		background: rgba(0,0,0,0.9);

		.navbar-header {
			img {
				width: 120px;
				height: 27px;
			}
		}

		nav {
			ul.navbar-nav {
				margin-top: 14px;

				li {
					a {
						padding: 10px 20px;
						background: transparent;

						&:active {
							background: transparent;
						}

						&:hover {
							background: $teal;
							color: $white;
						}

						&:focus {
							background: $blue;
							color: $white;
						}
					}
				}
			}
		}
	}
}
//Second Nav

section.secondnav {
	padding: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;

	&.sticky {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}

	nav {
		ul {
			text-align: center;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				margin-left: -4px;

				a {
					padding: 19px 15px 16px;
					display: block;
					color: $blue;
					font-weight: 300;
					background: transparent;

					.icon {
						[class*=" ti-"],
						[class^="ti-"] {
							color: $dark-g;
							font-size: 2em;
						}
					}

					span {
						display: block;
					}

					.text {
						font-size: 15px;
						margin: 10px 0 0;
					}

					&:active {
						background: transparent;
					}

					&.active,
					&:hover {
						background: $blue;
						color: $white;
						text-decoration: none;

						.icon {
							[class*=" ti-"],
							[class^="ti-"] {
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	&.bluenav {
		background: $blue;

		nav {
			ul {
				li {
					a {
						color: $white;
						transition: all 0.0s ease-in-out;

						.icon {
							[class*=" ti-"],
							[class^="ti-"] {
								color: $white;
							}
						}

						&.active,
						&:hover {
							background: $white;
							color: $blue;

							.icon {
								[class*=" ti-"],
								[class^="ti-"] {
									color: $blue;
								}
							}
						}
					}
				}
			}
		}
	}
}

section.bg-bg {
	background: #fff url("../img/city-wallpaper-hd-10859-11378-hd-wallpapers2.png") 50% 50% no-repeat;
	background-size: cover;
	padding: 60px 0;
	color: $white;

	p {
		font-size: 60px;
		line-height: 68px;
		font-weight: 200;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.8), 0 0 20px rgba(0,0,0,0.8);
		position: relative;
		margin-bottom: 0;
	}
}

section#carousel.bg-bg {
	padding: 40px 0;

	p {
		font-size: 32px;
		line-height: 42px;
	}
}

.subscribe {
	h3 {
		font-weight: 300;
	}

	.extrawrapper {
		position: relative;
		padding: 60px 0;

		.container {
			z-index: 1;
			position: relative;
		}
	}

	form.well {
		padding: 20px;

		label .text {
			opacity: 0;
			height: 0;
			width: 0;
			overflow: hidden;
			float: left;
		}
	}
}

.casestudy {
	.secondnav {
		.icon {
			img {
				height: 50px;
				width: auto;
			}
		}
	}
}
// HOME PAGE

.homepage {
	#carousel-example-generic {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	section.intro {
		padding: 200px 0 0;
		color: $white;
		text-align: center;
		background: linear-gradient(rgba(0,0,0,.9) 0%, rgba(0,0,0,.5 ) 20%), url("../img/homepage-bg.jpg") no-repeat center center;
		background-size: cover;
		text-shadow: 1px 1px 10px #1F1F1F;

		h2 {
			@include headers(2.5em,100,1em);
			margin: 0;
		}

		span.versions {
			font-size: 1.5em;
			font-weight: 100;
			line-height: 1em;
			margin-top: -15px;
			margin-bottom: 60px;
			color: $white;
			display: block;
		}

		span.description {
			font-size: 1.5em;
			font-weight: 100;
			line-height: 1em;
			color: $white;
			display: block;
			line-height: 1.2em;
			margin: 20px 0;
		}

		.text {
			animation: slidefromtop 2s forwards;
		}

		.ipad {
			position: absolute;
			bottom: -100px;
			left: 0;
			animation: slidefrombottom 2s forwards;
		}

		.summ {
			margin-top: 50px;
		}

		.download {
			margin-top: 50px;

			a {
				margin: 0 5px;

				&.download {}

				&.demo {}
			}

			p {
				margin-top: 15px;

				a {
					color: $white;
					text-shadow: 1px 1px 10px #1F1F1F;
				}
			}
		}

		.learnmore {
			background: rgba(0,0,0,0.5);
			padding: 9px 25px;
			margin-left: -135px;
			color: $white;
			border-radius: 20px;
			position: relative;
			animation-duration: 1.3s;
			animation-delay: 2s;
			animation-iteration-count: 3;
		}

		&.intro2 {
			background: url("../img/slider2bg.png") no-repeat center center;
			background-size: cover;

			h2 {
				font-size: 64px;
				line-height: 73px;
				font-weight: bold;
				margin: 20px 0;
			}

			p {
				font-size: 24px;
				line-height: 30px;
			}

			h3 {
				@include headers(2.5em,100,1em);
				margin: 0;
			}

			.text {
				animation: slidefromright 2s forwards;
			}

			.visit {
				animation: slidefromleft 2s forwards;
			}
		}

		&.intro3 {
			background: url("../img/drupalwxtbg.png") no-repeat center center;
			background-size: cover;
			text-align: left;

			h2 {
				font-size: 64px;
				line-height: 73px;
				font-weight: bold;
			}

			p {
				font-size: 24px;
				line-height: 30px;
			}

			h3 {
				@include headers(2.5em,100,1em);
				margin: 0;
			}
		}
	}

	section.usedby {
		padding: 30px 0 25px;
		text-align: center;
		position: relative;

		.logos {
			width: 100%;
			height: auto;
			overflow: hidden;

			img {
				display: inline-block;
				max-width: 300px;
				max-height: 70px;
				margin: 10px;
				opacity: 0.6;
			}
		}
	}

	section.learnmore {
		[class*=" ti-"],
		[class^="ti-"] {
			font-size: 200px;

			&.top {
				position: absolute;
				z-index: 2;
				right: 0;
				width: 100%;
				left: 60px;
			}

			&.bottom {
				position: absolute;
				z-index: 1;
				right: 0;
				width: 100%;
				left: -60px;
			}
		}

		h2 {
			text-align: center;
		}

		.pic {
			text-align: center;
		}

		.left {
			opacity: 0;
			left: -50px;
			transition: all 1.5s ease-in-out;
			position: relative;
		}

		.right {
			opacity: 0;
			right: -50px;
			transition: all 1.5s ease-in-out;
			position: relative;
		}

		&.animatein {
			.left {
				opacity: 1;
				left: 0;
			}

			.right {
				opacity: 1;
				right: 0;
			}
		}
	}

	section.video {
		iframe {
			height: 452px;
			width: 100%;
			float: right;
		}
	}

	section.news {
		.item {
			background-color: $dark-g;
			color: $white;
			padding: 0 20px 20px;
			z-index: 2;
			float: left;
			width: 100%;
			margin-bottom: 30px;
			position: relative;

			&:after {
				background: url("../img/1629941.jpg");
				opacity: 0.05;
				z-index: -1;
				background-size: cover;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				content: '';
			}

			.header {
				color: $white;
				background: $blue;
				position: relative;
				float: left;
				margin-top: -8px;
				padding: 5px 10px;
				text-align: center;
				font-size: 1.2em;
			}

			.title {
				clear: both;
				color: $white;
				margin: 15px 0 55px;
				float: left;
				text-align: left;

				h3 {
					@include headers(1.4em, 300);
				}
			}

			.type {
				float: left;
				clear: both;
			}
		}
	}
}
// Subsribe

.free {
	text-transform: uppercase;
}
// .input-group {
//     margin: 20px auto;
//     width: 100%;
// }
// input.btn.btn-lg {
//     width: 60%;
//     height: 60px;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     background-color:#fff;
// }
// button.btn {
//     width: 40%;
//     height: 60px;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
// }

.promise {
	color: #999;
}

.form-control {
	padding: 12px;
	height: auto;
}

.error_message {
	margin-bottom: 0;
	border: none;
	background: #B65A5A;
	color: $white;
}

p#message {
	margin-bottom: 5px;
	padding-bottom: 0;
}

button#submit {
	font-size: 16px;
}

.success_message {
	background: #7E9B60;
	border: none;
	color: $white;
}
// Features page

.gototop {
	position: fixed;
	z-index: 9;
	right: 15px;
	bottom: 15px;
	border: 1px solid #ccc;
	display: none;
	background: #fff;
	border-radius: 50%;
	padding: 5px 10px;

	&:hover {
		text-decoration: none;
		border: 1px solid $blue;
	}
}

.gotodiv {
	position: absolute;
	top: -80px;
	height: 1px;
	width: 100%;
}

.hasstickyheader {
	.gototop {
		display: block;
	}
}

.features {
	.intro.bg-img1 {
		background: url("../img/featuresbg.jpg") no-repeat center center;
		background-size: cover;
		text-shadow: 1px 1px 0 #000, 0 0 5px #000, 0 0 20px #000;
		padding: 160px 0;

		h2 {
			@include headers(1.5em,100,1em);
			margin: 0;
		}
	}

	.more {
		[class*=" ti-"],
		[class^="ti-"] {
			font-size: 80px;
			text-align: center;
		}

		.item {
			margin-bottom: 30px;

			h3 {
				margin-top: 0;
			}

			.img {
				overflow: hidden;

				img {
					border-radius: 50%;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	section {
		position: relative;

		.icon {
			text-align: center;

			[class*=" ti-"],
			[class^="ti-"] {
				font-size: 200px;
			}

			&.right {}

			&.left {}
		}
	}

	.giveatry {
		border-top: 1px solid #ccc;
	}
}

.getstarted {
	section {
		.icon {
			text-align: center;

			[class*=" ti-"],
			[class^="ti-"] {
				font-size: 200px;
			}

			&.right {}

			&.left {}
		}
	}

	section.started {
		text-align: center;

		p.icon {
			margin-bottom: 50px;
			margin-top: 35px;
		}

		.icon {
			text-align: center;

			[class*=" ti-"],
			[class^="ti-"] {
				font-size: 44px;
				padding: 20px;
				box-shadow: 0 0 0 1px #fff, 0 0 0 3px #428bca;
				background: $blue;
				color: $white;
				border-radius: 50%;
			}

			&.right {}

			&.left {}
		}
	}
}

footer {
	background: #101010;
	position: relative;
	color: $white;
	padding: 40px 0 20px;

	h2 {
		margin-top: 0;
	}

	a {
		color: $white;
		text-decoration: underline;

		&:hover {
			color: $blue;
		}
	}

	.built {
		padding: 0 0 0 30px;
	}

	.wxt {
		padding-top: 15px;

		.logo {
			margin-bottom: 10px;
			display: block;

			img {
				width: 160px;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				float: left;
				margin-right: 10px;
			}
		}
	}

	.community {
		border-left: 1px solid $white;
		border-right: 1px solid $white;
		padding: 0 30px;

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				float: left;
				margin-right: 16px;

				[class*=" ti-"],
				[class^="ti-"] {
					font-size: 38px;
					float: left;
					margin-bottom: 5px;
					text-align: center;
					width: 100%;
				}

				span.title {
					clear: both;
					text-align: center;
					float: left;
				}
			}
		}
	}
}

#about,
#usedby {
	position: absolute;
	top: -60px;
	height: 1px;
	width: 100%;
}

section.about {
	position: relative;

	.facts {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 10px;
				float: left;
				width: 100%;
			}
		}
	}
}

section.giveatry {
	background: $blue;
	text-align: center;

	h2 {
		color: $white;
	}

	.buttons {
		a {
			display: inline-block;

			&:hover {
				background: rgba(255,255,255,0.2);
			}
		}
	}
}

.quote {
	color: rgba(0,0,0,.1);
	text-align: center;
	margin-bottom: 30px;
}
/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
#fade-quote-carousel.carousel {
	padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .item {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#fade-quote-carousel.carousel .carousel-inner .active {
	opacity: 1;
}

#fade-quote-carousel.carousel .carousel-indicators {
	bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
	background-color: $blue;
	border: none;

	&.active,
	&:hover {
		background-color: $white;
	}
}

#fade-quote-carousel blockquote {
	text-align: center;
	border: none;
}

#fade-quote-carousel .profile-circle {
	margin: 0 auto;

	img {
		height: 50px;
		width: auto;
	}
}

.touch {
	.homepage section.learnmore .left {
		opacity: 1;
		left: 0;
	}

	.homepage section.learnmore .right {
		opacity: 1;
		right: 0;
	}

	header.navbar {
		background: rgba(0,0,0,0.9);
	}

	header.navbar nav ul.navbar-nav li a {
		padding: 6px 12px !important;
	}
}
@media (min-width:768px) and (max-width: 1024px) {
	.touch {
		.container {
			width: 100%;
		}

		.features {
			padding-left: 60px;
		}

		section.secondnav {
			height: 100% !important;
			padding-top: 90px;
			z-index: 99;
			left: 0 !important;
			top: 0 !important;
			width: 60px !important;
			position: fixed !important;

			.container {
				width: 100% !important;
				margin: 0;
				padding: 0;
			}

			ul {
				li {
					float: left;
					clear: both;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	header.navbar {
		background: rgba(0,0,0,0.9);
	}

	header.navbar nav ul.navbar-nav li a {
		padding: 6px 12px !important;
	}

	header.navbar .navbar-header img {
		width: 100px !important;
	}

	section.more {
		text-align: center;
	}

	.homepage section.learnmore.animatein .right {
		display: none;
	}

	footer .col-md-4 {
		margin-bottom: 40px;
		width: 100%;
		padding: 0 15px;
		float: left;
		border: none;
		text-align: center;

		li {
			float: none !important;
			display: inline-block;
		}
	}
}
@media (max-width: 767px) {
	footer {
		text-align: center;

		.built,
		.community,
		.wxt {
			margin-bottom: 20px;
			overflow: hidden;
			border: none;
		}
	}

	section.giveatry .buttons a {
		display: block;
		margin-bottom: 5px;
	}

	.homepage section.news .col-md-3 {
		display: block;
	}

	.features .intro h2 {
		font-weight: 300;
	}

	.bg-img1 {
		padding: 40px 0;
	}

	.homepage section.intro.intro2 h2,
	h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.homepage section.intro.intro2 .visit {
		margin-bottom: 60px;
	}

	.page.home {
		padding-top: 0 !important;
	}

	.homepage #carousel-example-generic {
		position: relative;
		top: auto;
		left: auto;
	}

	.homepage .homepageslider section.intro {
		min-height: 0 !important;
	}

	.homepage section.intro .ipad {
		position: relative;
		margin-top: 40px;

		img {
			width: 80%;
			height: auto;
		}
	}

	.homepage .homepageslider section.intro.intro3 .col-md-5 {
		margin: 20px 0;
	}

	.homepage .homepageslider .carousel-indicators {
		top: 110px;
		bottom: auto;
	}

	.homepage .homepageslider section.intro {
		padding: 120px 0 0;
	}

	section.bg-bg p {
		font-size: 32px;
		line-height: 46px;
		padding: 0 30px;
	}

	.getstarted section.started .col-md-4 {
		margin-bottom: 80px;
	}

	.features .more .item .img {
		text-align: center;
		margin: 10px 0;
	}

	.about section .icon [class*=" ti-"],
	.about section .icon [class^="ti-"],
	.features section .icon [class*=" ti-"],
	.features section .icon [class^="ti-"] {
		font-size: 100px;
	}

	.about section .col-md-5.icon,
	.features section .col-md-5.icon {
		margin: 30px 0;
	}

	header.navbar .navbar-header img {
		width: 200px !important;
	}

	header.navbar {
		background: rgba(0,0,0,0.9);
	}

	.navbar-toggle {
		margin-right: 0;
		margin-top: 4px;

		.ti-menu {
			font-size: 1.2em;
		}
	}

	header.navbar .navbar-header {
		padding: 15px;
	}

	header.navbar nav ul.navbar-nav {
		width: 100%;
		margin-bottom: 20px;

		li {
			width: 100%;
		}
	}

	.homepage section.intro {
		position: relative;
		background-size: auto;
		background: url("../img/slide1bg.png") no-repeat center center relative;
	}

	.nav-tabs li {
		width: 100%;
	}
}
@media (max-width: 1199px) {
	.homepage section.intro .ipad img {
		width: 70%;
		height: auto;
	}

	section.secondnav nav ul li a .text {
		display: none;
	}
}
