@import 'bourbon';

@mixin headers($a: inherit,$b: normal, $c: inherit) {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: $a;
	font-weight: $b;
	line-height: $c;
}
@keyframes move {
  0% {left: 0%;}
  100% {left:100%;}
}

@include keyframes(slidefrombottom) {
	0% {opacity: 0; @include transform(translate(0,100px)); }
	100% {opacity: 1; @include transform(translate(0,0));}
}
@include keyframes(slidefromleft) {
	0% {opacity: 0; @include transform(translate(-200px,0));}
	100% {opacity: 1; @include transform(translate(0,0));}
}
@include keyframes(slidefromright) {
	0% {opacity: 0;  @include transform(translate(200px,0));}
	100% {opacity: 1; @include transform(translate(0,0));}
}
@include keyframes(slidefromtop) {
	0% {opacity: 0; @include transform(translate(0,-100px));}
	100% {opacity: 1; @include transform(translate(0,0));}
}

$dark-g: #333;
$light-g: #ccc;
$white: #f6f6f6;
$light-w: #eee;
$blue: #428bca;

/* -------------- loader -------------- */

.loader{
	position: fixed;
	width: 12px;
	height: 12px;

	top: 46%;
	top: -webkit-calc(50% - 6px);
	top: calc(50% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);

	border-radius: 12px;
	background-color: darken($blue, 20);
	-webkit-transform-origin:  50% 50%;
			transform-origin:  50% 50% ;
	-webkit-animation: loader 1s ease-in-out infinite;
			animation: loader 1s ease-in-out infinite;
}

.loader:before{
	content: "";
	position: absolute;
	background-color: $blue;
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.loader:after{
	content: "";
	position: absolute;
	background-color: $blue;
	top: 0px;
	left: 25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}


@-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}

// Global
body { @include headers(16px,300); background:$white;}
h1 { font-family: Rockwell; }
h2 { @include headers(2em,100,1em); }
p { font-size: 1.2em; line-height: 1.4em;}
a { @include transition(all 0.3s ease-in-out); }
h4 { margin-top:-6px; font-size: 1.3em; font-weight: 300; }

body{

	 font-family: "Roboto";
	 font-style: normal;
	 font-weight: 300;
	 font-size: 17px;
	 line-height: 26px;
}

p.weight1{
	 font-family: "Roboto";
	 font-weight: 100;
	 font-style: italic;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight2{
	 font-family: "Roboto";
	 font-weight: 100;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight3{
	 font-family: "Roboto";
	 font-weight: 300;
	 font-style: italic;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight4{
	 font-family: "Roboto";
	 font-weight: 300;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight5{
	 font-family: "Roboto";
	 font-weight: 400;
	 font-style: italic;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight6{
	 font-family: "Roboto";
	 font-weight: 400;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight7{
	 font-family: "Roboto";
	 font-weight: 500;
	 font-style: italic;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight8{
	 font-family: "Roboto";
	 font-weight: 500;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight9{
	 font-family: "Roboto";
	 font-weight: 700;
	 font-style: italic;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight10{
	 font-family: "Roboto";
	 font-weight: 700;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight11{
	 font-family: "Roboto";
	 font-weight: 900;
	 font-style: italic;
	 font-size: 36px;
	 line-height: 30px;
}

p.weight12{
	 font-family: "Roboto";
	 font-weight: 900;
	 font-style: normal;
	 font-size: 36px;
	 line-height: 30px;
}

div.wrapper{
	 margin: 0 auto;
	 display: block;
	 white-space: nowrap;
	 text-align: center;
	 padding-bottom: 20px;
	 min-height: 100%;
	 width: auto;
	 max-width: none;
}



h1{
	 font-size: 64px;
	 line-height: 73px;
	 margin-bottom: 25px;
	 font-weight: bold;
}

p{
	 font-size: 17px;
	 line-height: 26px;
	 margin-bottom: 35px;
}

p.weights{
	 letter-spacing: 2px;
	 font-size: 13px;
	 color: rgba(173,173,173,1);
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
}

p.pullquote{
	 font-size: 17px;
	 line-height: 26px;
	 margin-bottom: 35px;
	 padding-left: 15px;
	 border-width: 0px 0px 0px 3px;
	 border-style: solid;
}

p.map{
	 font-weight: 400;
	 font-style: normal;
	 margin-bottom: 0px;
	 text-align: justify;
	 font-size: 27px;
	 line-height: 54px;
	 margin-top: 0px;
}

p.heading{
	 letter-spacing: 2px;
	 font-size: 13px;
	 margin-bottom: 35px;
	 border-width: 0px 0px 1px 0px;
	 border-style: dotted;
	 margin-top: 45px;
	 color: rgba(0,0,0,1);
}

p.intro{
	 margin-bottom: 35px;
	 font-size: 21px;
	 line-height: 28px;
}

p.inverse-big{
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
}

p.inverse-med{
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
	 padding-top: 0px;
	 font-size: 15px;
}

p.inverse-small{
	 padding-top: 0px;
	 padding-left: 30px;
	 padding-right: 30px;
	 padding-bottom: 30px;
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 font-size: 13px;
}

p.inverse-heading{
	 background-color: rgba(51,51,51,1);
	 color: rgba(255,255,255,1);
	 padding: 30px;
	 margin-bottom: 0px;
	 padding-bottom: 0px;
	 font-size: 15px;
	 letter-spacing: 2px;
	 margin-top: 50px;
}


.js-marquee-wrapper { margin-left: -100px !important; }
.carousel { overflow: hidden;}
.carousel-control { width: 10%; }
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left { left: 50px; }
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right { right: 50px; }
.blue { color:$blue; }
.page { opacity:0;}
.mb0 { margin-bottom: 0;}
.mt5 { margin-top: 5px; }
.mt0 { margin-top: 0; }
.mt100 { margin-top: 100px; }
.mt35 { margin-top: 35px; }
.mb35 { margin-bottom: 35px; }
.btn { background:$blue; color:$white; text-shadow:none; border-radius: 5px; font-weight: 300; padding:12px 40px;
	&.btn-lg { font-size: 1.2em;}
	&:hover { background:darken($blue, 15); color:$white; }
	&.white { background:transparent; border:2px solid $dark-g; color:$dark-g; text-shadow:none;
		&:hover { background:$blue; border:2px solid $blue; color:$white; }
	}
}
.btn-inverse { background: transparent; border:2px solid $white; font-size: 1.1em; color:$white; text-shadow:1px 1px 8px #1F1F1F;
	&:hover { background:rgba(255,255,255,0.2); color:$white; text-shadow:none; }
	&.white { background:transparent; border:2px solid $dark-g; color:$dark-g; text-shadow:none;
		&:hover { background:$blue; border:2px solid $blue; color:$white; }
	}
}
.bg-blue { background:$blue; color:$white;
	a { color:$white; }
	.nav-tabs {
		li {
			a { color:$white; }
		}
	}
}
.bg-dark { background:$dark-g; color:$white; }
.bg-img1 { color:$white; text-align: center; padding:80px 0; background:url(../img/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg) no-repeat center center;  text-shadow:1px 1px 10px #1F1F1F; }
.bg-white { background:#fff; color:$dark-g; }
.bg-light { background:$white; color:$dark-g; }
section { padding:30px 0; position: relative;
	h2 { margin-bottom: 15px;}
}
// Navtabs
.nav-tabs { border:none; text-align: center; margin-bottom: 40px;
	li { margin:0; padding:0; border-radius: 0; margin-left:-4px; display: inline-block; float:none;
		a { background:lighten($light-g, 10); margin:0; border-radius: 0; color:$dark-g; border-bottom:5px solid darken($light-g, 10); padding:14px 56px;
			&:hover{ border-bottom:5px solid $blue; background:$light-g;  }
		}
		&.active {
			a { border-bottom:5px solid $blue; background:$light-g;
				&:hover { border-bottom:5px solid $blue; background:$light-g;  }
			}
		}
		&:first-child {
			a { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
		}
		&:last-child {
			a { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
		}
	}
	&.nav-stacked { text-align: left;
		li { float:left; display: block; margin-bottom: 15px; margin-left:0;
			a { background:transparent; border:none; padding:10px;
				&:hover { background:darken($blue, 10); border:none; border-radius: 0; color:$white; }
			}
			&.active {
				a { background:darken($blue, 10); border:none; color:$white; border-radius: 0;
					&:hover { background:darken($blue, 10); border:none; color:$white; }
				}
			}
			h3 { margin:3px 0 3px 0;}
		}
	}
}

// Pictures in columns
.pic {
	&.left { text-align: left; float: left;
		img { float:left; width: 100%; height: auto; }
	}
	&.right { text-align: right; float:right;
		img { float:right; width: 100%; height: auto; }
	}
}

// Inside pages {
.inside {
	header.navbar { background:rgba(0,0,0,0.9); position: relative;
		.logo {
			img { width: 150px; }
		}
		ul.navbar-nav {
			li {
				a {
					&:hover, &.current { background:$blue; color:$white; }
				}
			}
		}
	}
}


// HEADER
header.navbar { background:transparent;  @include transition(all 0.5s ease-in-out); margin-bottom: 0; border-radius: 0; color:$white; position: fixed; top: 0; left: 0; width: 100%; z-index: 100;
	.navbar-header { padding:20px 0;
		img { width: 200px; @include transition(all 0.5s ease-in-out);}
	}
	nav {
		ul.navbar-nav { padding:0; margin:0; float: right; margin-top: 20px;
			li {
				a { color:$white; padding:14px 20px; border-radius: 3px; font-weight: 200; font-size: 16px;
					&:hover{ background:rgba(0,0,0,0.2); text-decoration: none;}
				}
			}
		}
	}
	&.bg { background:rgba(0,0,0,0.9);
		.navbar-header {
			img { width: 120px; }
		}
		nav {
			ul.navbar-nav { margin-top: 14px;
				li {
					a { padding:10px 20px;
						&:hover { background:$blue; color:$white; }
					}
				}
			}
		}
	}
}

//Second Nav
section.secondnav { padding:0; border-top:1px solid #ccc; border-bottom:1px solid #ccc; width: 100%;
	&.sticky { position: fixed; top: 0; left: 0; z-index: 999; }
	nav {
		ul { text-align: center; margin:0; padding:0;
			li { display: inline-block; margin-left: -4px;
				a { padding:19px 15px 16px 15px;  display: block; color:$blue; font-weight: 300;
					.icon {
						[class^="ti-"], [class*=" ti-"] { color:$dark-g; font-size: 2em; }
					}
					span { display: block;}
					.text { font-size: 15px; margin:10px 0 0 0;}
					&:hover, &.active { background:$blue; color:$white; text-decoration: none;
						.icon {
							[class^="ti-"], [class*=" ti-"] { color:$white;  }
						}
					}
				}
			}
		}
	}
	&.bluenav { background:$blue;
		nav {
			ul {
				li {
					a { color:$white; @include transition(all 0.0s ease-in-out);
						.icon {
							[class^="ti-"], [class*=" ti-"] { color:$white; }
						}
						&:hover, &.active { background:$white; color:$blue;
							.icon {
								[class^="ti-"], [class*=" ti-"] { color:$blue;  }
							}
						}
					}
				}
			}
		}
	}
}

section.bg-bg { background:	#fff url(../img/city-wallpaper-hd-10859-11378-hd-wallpapers2.png) 50% 50% no-repeat; background-size: cover; padding:60px 0; color:$white;
	p { font-size: 60px; line-height: 68px; font-weight: 200; text-shadow:2px 2px 2px rgba(0,0,0,0.8), 0px 0px 20px rgba(0,0,0,0.8); position: relative; margin-bottom: 0;}
}
section#carousel.bg-bg {padding:40px 0;
	p { font-size: 32px; line-height: 42px; }
}

section.subscribe { background:	#fff url(../img/drupalwxtbg.png) 50% 50% no-repeat; background-size: cover;  padding:0;
	h2, h3, p { color:$white; text-shadow:1px 1px 10px #1F1F1F; }
	.extrawrapper { position: relative; padding: 60px 0;
		&:before { content:''; width: 100%; background:rgba(0,0,0,0.4); height: 100%; position: absolute; top: 0; left: 0; z-index: 0; }
		.container { z-index: 1; position: relative;}
	}
	form.well { padding: 40px 20px; box-shadow: 0 0 20px #333, 0 0 80px #999;}
}



// HOME PAGE
.homepage {
	#carousel-example-generic { position: fixed; top:0; left:0; width: 100%; }
	section.intro { padding:200px 0 0; color:$white; text-align: center; background:url(../img/slide1bg.png) no-repeat center center; background-size:cover; text-shadow:1px 1px 10px #1F1F1F;
		h2 { @include headers(2.5em,100,1em); margin:0; }
		.text { @include animation(slidefromtop 2s forwards); }
		.ipad { position: absolute; bottom:-100px; left:0; @include animation(slidefrombottom 2s forwards); }
		.summ { margin-top: 50px;}
		.download { margin-top: 50px;
			a { margin:0 5px;
				&.download {}
				&.demo {}
			}
			p { margin-top: 15px;
				a { color:$white; text-shadow:1px 1px 10px #1F1F1F;  }
			}
		}
		.learnmore { background:rgba(0,0,0,0.5); padding:9px 25px; margin-left: -135px; color:$white; border-radius: 20px; position: relative; @include animation-duration(1.3s); @include animation-delay(2s);@include animation-iteration-count(3);}
		&.intro2 { background:url(../img/slider2bg.png) no-repeat center center; background-size:cover;
			h2 { font-size: 64px; line-height: 73px; font-weight: bold; margin:20px 0; }
			p { font-size: 24px; line-height: 30px;  }
			h3 { @include headers(2.5em,100,1em); margin:0; }
			.text { @include animation(slidefromright 2s forwards); }
			.visit { @include animation(slidefromleft 2s forwards); }
		}
		&.intro3 { background:url(../img/drupalwxtbg.png) no-repeat center center;  background-size:cover; text-align: left;
			h2 { font-size: 64px; line-height: 73px; font-weight: bold;  }
			p { font-size: 24px; line-height: 30px;  }
			h3 { @include headers(2.5em,100,1em); margin:0; }
		}
	}

	section.usedby { padding:30px 0 25px 0; text-align: center; position: relative;
		.logos { width: 100%; height: auto; overflow: hidden;
			a { display: inline-block; margin:10px; opacity: 0.6;
				&:hover { opacity: 1;}
				img { width: auto; height: 65px; }
			}
		}
	}
	section.learnmore {
		[class^="ti-"], [class*=" ti-"] { font-size: 200px;
			&.top { position: absolute; z-index: 2; right: 0; width: 100%; left: 60px;}
			&.bottom { position: absolute;  z-index: 1; right: 0; width: 100%; left: -60px;  }
		}
		h2 { text-align: center; }
		.pic { text-align: center;}
		.left { opacity: 0; left: -50px; @include transition(all 1.5s ease-in-out); position: relative;}
		.right { opacity: 0; right:-50px; @include transition(all 1.5s ease-in-out); position: relative;}
		&.animatein {
			.left { opacity: 1; left:0; }
			.right { opacity: 1; right:0; }
		}
	}
	section.video {
		iframe { height: 400px; width: 100%; float: right;}
	}
	section.news {
		.item { background-color:$dark-g; color:$white; padding: 0 20px 20px 20px; z-index: 2; float: left; width: 100%; margin-bottom: 30px; position: relative;
			&:after { background:url(../img/1629941.jpg); opacity: 0.05; z-index: -1; background-size: cover; width: 100%; height: 100%; position: absolute; top: 0; left: 0; content:''; }
			a { color:$white;}
			.header { color:$white; background:$blue; position: relative; float: left; margin-top: -8px; padding:5px 10px; text-align: center; font-size: 1.2em;
			}
			.title { clear: both; color:$white; margin:15px 0 55px 0; float: left;
				h3 { @include headers(1.4em, 300);}
			}
			.type { float: left; clear: both;  }
		}
	}
}



// Subsribe

.free {
    text-transform: uppercase;
}
// .input-group {
//     margin: 20px auto;
//     width: 100%;
// }
// input.btn.btn-lg {
//     width: 60%;
//     height: 60px;
//     border-top-right-radius: 0;
//     border-bottom-right-radius: 0;
//     background-color:#fff;
// }
// button.btn {
//     width: 40%;
//     height: 60px;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
// }
.promise {
    color: #999;
}
.form-control { padding: 12px 12px; height: auto; }
.error_message { margin-bottom: 0; border: none; background: #B65A5A; }
p#message { margin-bottom:5px; padding-bottom:0; }
button#submit { font-size: 16px; }
.success_message { background: #7E9B60; border: none; }


// Features page
.gototop { position: fixed; z-index: 9; right: 15px; bottom: 15px; border:1px solid #ccc; display: none; background: #fff; border-radius: 50%; padding: 5px 10px;
	&:hover { text-decoration: none; border:1px solid $blue; }
}
.hasstickyheader {
	.gototop { display: block; }
}
.features {
	.intro {
		h2 { @include headers(1.5em,300,1em); margin:0; }
	}
	.more {
		[class^="ti-"], [class*=" ti-"] { font-size: 80px; text-align: center; }
		.item { margin-bottom: 30px;
			h3 { margin-top: 0; }
			.img { overflow: hidden;
				img { border-radius: 50%; }
			}
			&:last-child { margin-bottom: 0;}
		}
	}
	section { position: relative;
		.gotodiv { position: absolute; top: -80px; height: 1px; width: 100%; }
		.icon { text-align:center;
			[class^="ti-"], [class*=" ti-"] { font-size: 200px; }
			&.right {}
			&.left {}
		}
	}
}

.getstarted {
	section {
		.icon { text-align:center;
			[class^="ti-"], [class*=" ti-"] { font-size: 200px; }
			&.right {}
			&.left {}
		}
	}
	section.started { text-align: center;
		p.icon { margin-bottom: 50px; margin-top: 35px;  }
		.icon { text-align:center;
			[class^="ti-"], [class*=" ti-"] { font-size: 44px; padding:20px; box-shadow: 0px 0 0px 1px #fff, 0 0 0 3px #428bca; background:$blue; color:$white; border-radius: 50%;  }
			&.right {}
			&.left {}
		}

	}
}

footer {  background:#101010; position:relative; color:$white; padding:40px 0 20px;
	h2 { margin-top: 0;}
	a { color:$white; text-decoration: underline;
		&:hover { color:$blue; }
	}
	.built { padding:0 0 0px 30px; }
	.wxt { padding-top: 15px;
		.logo { margin-bottom: 10px; display: block;
			img { width: 180px; }
		}
		ul { list-style: none; margin:0; padding:0;
			li { float: left; margin-right: 10px; }
		}
	}
	.community { border-left: 1px solid $white; border-right:1px solid $white; padding:0 30px;
		ul { list-style: none; margin:0; padding:0;
			li { float: left; margin-right: 20px;
				[class^="ti-"], [class*=" ti-"] { font-size: 38px; float: left; margin-bottom: 5px; text-align: center; width: 100%; }
				span.title { clear: both; text-align: center; float: left; }
			}
		}
	}
}

#about { position: absolute; top: -60px; height: 1px; width: 100%; }
section.about { position: relative;
	.facts {
		ul { margin:0; padding:0; list-style: none;
			li { margin-bottom: 10px; float: left; width: 100%; }
		}
	}
}

section.giveatry { background:$dark-g;  text-align: center;
	h2 { color:$white; }
	.buttons {
		a { display: inline-block;}
	}
}



.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item { opacity: 0;  @include transition(opacity 0.3s ease-in-out);

}
#fade-quote-carousel.carousel .carousel-inner .active { opacity: 1;

}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li { background-color: $blue; border: none;
	&.active, &:hover  { background-color:$white; }
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle { margin: 0 auto;
	img { height: 50px; width: auto; }
}






@media (max-width: 991px) {
	.homepage section.learnmore.animatein .right { display: none; }
	footer .col-md-4 { margin-bottom: 40px; width: 100%; padding:0 15px; float: left; border:none; text-align: center;
		li { float: none !important; display: inline-block;}
	}
}

@media (max-width: 767px) {
	.homepage .homepageslider section.intro.intro3 .col-md-5 { margin:20px 0; }
	.homepage .homepageslider .carousel-indicators { top:110px; bottom: auto; }
	.homepage .homepageslider section.intro{ padding:120px 0 0;}
	section.bg-bg p { font-size: 32px; line-height: 46px; padding:0 30px; }
	.getstarted section.started .col-md-4 { margin-bottom: 80px;}
	.features .more .item .img { text-align: center; margin:10px 0 10px 0;}
	.features section .icon [class^="ti-"], .features section .icon [class*=" ti-"], .about section .icon [class^="ti-"], .about section .icon [class*=" ti-"] { font-size: 100px; }
	.features section .col-md-5.icon, .about section .col-md-5.icon { margin:30px 0;}
	header.navbar .navbar-header img { width: 200px !important; }
	header.navbar { background: rgba(0,0,0,0.9); }
	.navbar-toggle { margin-right: 0; margin-top: 4px;
		.ti-menu { font-size: 1.2em;}
	}
	header.navbar .navbar-header { padding:15px; }
	header.navbar nav ul.navbar-nav { width: 100%; margin-bottom: 20px;
		li { width: 100%; }
	}
	.homepage section.intro { position: relative; background-size: auto; background:url(../img/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg) no-repeat center center; }
	.nav-tabs li { width: 100%; }
}

@media (max-width: 1199px){
	section.secondnav nav ul li a .text { display: none;}
}
